# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.ENV/
venv_311/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebook_test/
.ipynb
# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db