# =========================
# Core
# =========================
streamlit>=1.26.0        # Framework principal de la app
pandas>=2.0               # Dataframes
numpy>=1.25               # Numeric operations

# =========================
# Visualización
# =========================
matplotlib>=3.8           # Basic Graphs
seaborn>=0.12             # Nicer graphs
plotly>=5.21              # Interactive graphs
pydeck>=0.8               # 3D Maps 
folium>=0.14              # 2D Maps


# =========================
# Datos espaciales (rasters y vector )
# =========================
rasterio>=1.3
geopandas>=1.1             # Leer/escribir archivos raster GeoTIFF

# =========================
# Opcional / utilidades
# =========================
openpyxl>=3.1             # Trabajar con archivos Excel
pillow>=10.0              # Manejo de imágenes